<html>
<body>


<p>${message('mail.confirm.application.1')} ${titolo} <b>${folder.getPropertyValue("jconon_application:nome")} ${folder.getPropertyValue("jconon_application:cognome")}</b>,</p>
<p>${message('mail.body.esclusione')}<br></p>

${call.getPropertyValue("jconon_call:requisiti")}
</body>
</html>
