<html>
<body>



<p>${message('mail.confirm.application.1')} <b>${folder.getPropertyValue("jconon_application:nome")} ${folder.getPropertyValue("jconon_application:cognome")}</b>,</p>
<p>${message('mail.apertura.rinnovo.4')} <b>${dataCancellazione}</b> ${message('mail.apertura.rinnovo.5')}<br></p>

<p>${message('mail.apertura.rinnovo.6')}<br></p>
<p>${message('mail.apertura.rinnovo.7')}</p>
<p>${message('mail.cambio.fascia.application.5')}</p> 
<br>
${call.getPropertyValue("jconon_call:requisiti")}
</body>
</html>
