{{#each bulkinfoMap}}
    {{#with raw}}
        <tr>
            <td>
                {{#if ../../settings.call_type}}
                    <strong>{{i18n objectTypeId}}</strong><br/>
                {{/if}}
                
				

                {{{applicationStatus jconon_application_stato_domanda jconon_application_data_domanda
                                     cmis_lastModificationDate
                                     relationships.parent.[0].jconon_call_data_fine_invio_domande
                                     jconon_application_fl_percorso_professionale_fascia_invio_iscrizione
    							     jconon_application_fl_percorso_dirigenziale_fascia_invio_iscrizione	}}}
                <br>
				{{#if jconon_application_data_invio_rinnovo_elenco}}
                    {{{rinnovoInviato  jconon_application_data_invio_rinnovo_elenco    }}}
                    <br>
                {{/if}}
                {{#if jconon_application_data_invio_cambio_fascia}}
                    {{{cambioFasciaInviato  jconon_application_data_invio_cambio_fascia  
                							jconon_application_fl_percorso_professionale_fascia_invio_cambio_fascia
                							jconon_application_fl_percorso_dirigenziale_fascia_invio_cambio_fascia	  }}}
                    <br>
                {{/if}}
                <strong>
                    <a href="#" class="user" data-user="{{jconon_application_user}}">
                        {{jconon_application_nome}}
                        {{jconon_application_cognome}}
                    </a>
                </strong>
                <br>
                CF: {{jconon_application_codice_fiscale}},
                Data di nascita: {{date jconon_application_data_nascita "DD/MM/YYYY"}}
                <br>
                {{#if jconon_application_fascia_professionale_attribuita}}
                    Fascia professionale attribuita: {{jconon_application_fascia_professionale_attribuita}}
                    <br>
                {{/if}}
                {{#if jconon_application_progressivo_iscrizione_elenco}}
                    {{{iscrizioneElenco jconon_application_progressivo_iscrizione_elenco
                                        jconon_application_data_iscrizione_elenco
                                        jconon_application_fascia_professionale_validata
                                        jconon_application_fascia_professionale_attribuita}}}
                    <br>
                {{/if}}
                {{#if jconon_application_data_rinnovo_elenco}}
                    {{{rinnovoElenco jconon_application_progressivo_iscrizione_elenco
                                        jconon_application_data_rinnovo_elenco
                                        jconon_application_fascia_professionale_validata
                                        jconon_application_fascia_professionale_attribuita}}}
                    <br>
                {{/if}}
                {{#if jconon_application_data_cambio_fascia}}
                    {{{cambioFasciaElenco jconon_application_progressivo_iscrizione_elenco
                                        jconon_application_data_cambio_fascia
                                        jconon_application_fascia_professionale_validata
                                        jconon_application_fascia_professionale_attribuita}}}
                    <br>
                {{/if}}
                {{#ifIn 'P:jconon_scheda_anonima:esperienza_annotazioni' cmis_secondaryObjectTypeIds
                        ../../settings.isRdP}}
                    {{{annotazioni 
                            jconon_attachment_esperienza_annotazione_motivazione
                            jconon_attachment_esperienza_annotazione_motivazione}}}
                    <br>
                {{/ifIn}}
                 {{#ifIn 'P:jconon_scheda_anonima:esperienza_non_coerente' cmis_secondaryObjectTypeIds
                        ../../settings.isRdP}}
                    {{{nonCoerente 
                            jconon_attachment_esperienza_non_coerente_data
                             jconon_attachment_esperienza_non_coerente_visibile
                             jconon_attachment_esperienza_non_coerente_rinnovo_data
                            jconon_attachment_esperienza_non_coerente_rinnovo_visibile
                             true
                           }}}
                    <br>
                {{/ifIn}}
                 {{#ifIn 'P:jconon_scheda_anonima:esperienza_non_coerente' cmis_secondaryObjectTypeIds
                        ../../settings.isUser}}
                    {{{nonCoerente 
                            jconon_attachment_esperienza_non_coerente_data
                             jconon_attachment_esperienza_non_coerente_visibile
                              jconon_attachment_esperienza_non_coerente_rinnovo_data
                            jconon_attachment_esperienza_non_coerente_rinnovo_visibile
                             false
                           }}}
                    <br>
                {{/ifIn}}
                 {{#ifIn 'P:jconon_scheda_anonima:esperienza_non_coerente_rinnovo' cmis_secondaryObjectTypeIds
                        ../../settings.isRdP}}
                    {{{nonCoerenteRinnovo 
                            jconon_attachment_esperienza_non_coerente_data
                             jconon_attachment_esperienza_non_coerente_visibile
                              jconon_attachment_esperienza_non_coerente_rinnovo_data
                            jconon_attachment_esperienza_non_coerente_rinnovo_visibile
                             true
                           }}}
                    <br>
                {{/ifIn}}
                {{#ifIn 'P:jconon_scheda_anonima:esperienza_non_coerente_rinnovo' cmis_secondaryObjectTypeIds
                        ../../settings.isUser}}
                    {{{nonCoerenteRinnovo 
                             jconon_attachment_esperienza_non_coerente_data
                             jconon_attachment_esperienza_non_coerente_visibile
                             jconon_attachment_esperienza_non_coerente_rinnovo_data
                            jconon_attachment_esperienza_non_coerente_rinnovo_visibile
                             false
                           }}}
                    <br>
                {{/ifIn}}
                {{#if jconon_application_data_invio_comunicazione}}
                    {{{comunicazione jconon_application_data_invio_comunicazione}}}
                    <br>
                {{/if}}
                {{{esclusioneRinuncia jconon_application_esclusione_rinuncia jconon_application_stato_domanda
                                      jconon_application_fl_rimosso_elenco jconon_application_data_rimozione_elenco}}}

            </td>
            <td></td>
        </tr>
    {{/with}}
{{/each}}